 <div class="user-details" id = "container">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech" id = "left">
      <h3>Code</h3>
      <i class="devicon-python-original"></i>
      <i class="devicon-postgresql-original-wordmark"></i>
      <i class="devicon-apache-line-wordmark"></i>
      <h3>
        <p>I write my code primarily in Python 3.7+, Apache Spark, and SQL</p>
      </h3>
    </div>
    <div class="tech" id = "right">
      <h3>Tools</h3>
      <i class="devicon-amazonwebservices-original-wordmark"></i>
      <i class="devicon-github-plain colored"></i>
      <h3>
        <p>I utilize PyCharm, Git, and AWS to develop my projects</p>
      </h3>
    </div>
    <div class="tech" id = "center">
      <h3>Operating Systems</h3>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-linux-original"></i>
      <h3>
        <p>I use the Linux OS and work with Anaconda virtual environments</p></h3>
      </h3>
    </div>
</div>
