<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <!---user-circle-->
        <a aria-label="Send Email" href="mailto:aweeaton@gmail.com"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/andrew-eaton-891287140/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/aweeaton"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="https://drive.google.com/file/d/1bbzGxY9YNTxqQybyfD0ie54QPEK7KJav/view?usp=sharing">Resume</a>
        <!--<a class="link" href="/blog/" title="Data Thoughts">Blog (not ready)</a>-->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
