<div class="user-details">
  <h1> Featured Projects and Blog Posts </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reward img" src="{{ "/assets/img/gradient.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Introduction to Gradient Descent <img src="https://img.shields.io/badge/python-3.6.4-blue.svg"></h3>
    <ul>
      <li> Machine Learning Theory </li>
      <li> Matrix Math </li>
    </ul>
    <p> This is a blog post I wrote covering the basic math of gradient descent, an important topic in machine learning. </p>
    <a class="project-link" href="https://drive.google.com/file/d/1XoTVWAM9LRHtf_aPK2JKIRSv-1L9enjW/view?usp=sharing">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="interpreter img" src="{{ "/assets/img/medicine.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cancer Subtype Classification <img src="https://img.shields.io/badge/python-3.6.4-blue.svg"></h3>
    <ul>
      <li> Random Forest Classification </li>
      <li> Cross-validation </li>
    </ul>
    <p> This is a presentation I made for predicting lymphoma subtype based on chromosome copy number variation data. <!--<a class="project-more" href="ASLT">Read more...</a>--></p>
    <a class="project-link" href="https://drive.google.com/file/d/17SsrAKfaI5FOgGzjrJDBhLFm4Ltf0GE9/view?usp=sharing">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="loan img" src="{{ "/assets/img/words.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Introduction to Word Embeddings <img src="https://img.shields.io/badge/python-3.6.4-blue.svg"></h3>
    <ul>
      <li> Recurrent Neural Network Theory </li>
      <li> Natural Language Processing </li>
    </ul>
    <p> This is a blog post I wrote on how word embeddings can vectorize human text. This is an important concept for natural language processing and reccurent neural networks. </p>
    <a class="project-link" href="https://drive.google.com/file/d/11ZLYFk8x2kVuUNnkz1Ws3M5JQ4FaxmMh/view?usp=sharing">Check it out</a>
  </div>
</div>
