<div class="user-details">
  <h1> Featured Projects and Blog Posts </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reward img" src="{{ "/assets/img/factnewz.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Media Literacy Web Application <img src="https://img.shields.io/badge/python-3.7-blue.svg"></h3>
    <ul>
      <li> Natual Language Processing </li>
      <li> Web Application </li>
    </ul>
    <p> I built this open-source web application with my classmates at the University of San Francisco to improve digital media literacy. </p>
    <a class="project-link" href="http://factnews.io">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="reward img" src="{{ "/assets/img/advz.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Adversarial Image Detection and Defense <img src="https://img.shields.io/badge/python-3.6-blue.svg"></h3>
    <ul>
      <li> Adversarial Images </li>
      <li> Convolutional Neural Networks </li>
    </ul>
    <p> This blog post explores cutting-edge methods to detect and defend against adversarial images. </p>
    <a class="project-link" href="https://launchpad.ai/blog/adversarial">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reward img" src="{{ "/assets/img/books.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Library Book Checkout Classifier <img src="https://img.shields.io/badge/python-3.7-blue.svg"></h3>
    <ul>
      <li> Distributed Computing </li>
      <li> Machine Learning </li>
    </ul>
    <p> This project predicts which library books will be checked out next month. We utilized PySpark, Amazon EMR, and H2O to achieve ROC AUC scores above 0.91. </p>
    <a class="project-link" href="https://github.com/aweeaton/Checkout-Predictions">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="reward img" src="{{ "/assets/img/beer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Style of Beer Classification <img src="https://img.shields.io/badge/python-3.7-blue.svg"></h3>
    <ul>
      <li> Data Engineering </li>
      <li> Machine Learning </li>
    </ul>
    <p> This project classifies beers out of a high number of classes through pandas and scikit-learn. </p>
    <a class="project-link" href="https://github.com/aweeaton/beer-style-classification">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reward img" src="{{ "/assets/img/argo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Argo Data Scraping <img src="https://img.shields.io/badge/python-3.7-blue.svg"></h3>
    <ul>
      <li> Web Scraping </li>
      <li> AWS RDS (PostgreSQL) </li>
    </ul>
    <p> This group project included retrieving data from the Argo API, exploratory data analysis, and storing it on AWS RDS. </p>
    <a class="project-link" href="https://github.com/aweeaton/argo_sensor_analysis">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="reward img" src="{{ "/assets/img/gradient.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Introduction to Gradient Descent <img src="https://img.shields.io/badge/python-3.6-blue.svg"></h3>
    <ul>
      <li> Machine Learning Theory </li>
      <li> Matrix Math </li>
    </ul>
    <p> This blog posts covers the basic math of gradient descent, an important topic in machine learning. </p>
    <a class="project-link" href="https://drive.google.com/file/d/1XoTVWAM9LRHtf_aPK2JKIRSv-1L9enjW/view?usp=sharing">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="interpreter img" src="{{ "/assets/img/medicine.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cancer Subtype Classification <img src="https://img.shields.io/badge/python-3.6-blue.svg"></h3>
    <ul>
      <li> Random Forest Classification </li>
      <li> Cross-validation </li>
    </ul>
    <p> This presentation predicts lymphoma subtype based on chromosome copy number variation data. <!--<a class="project-more" href="ASLT">Read more...</a>--></p>
    <a class="project-link" href="https://drive.google.com/file/d/17SsrAKfaI5FOgGzjrJDBhLFm4Ltf0GE9/view?usp=sharing">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="loan img" src="{{ "/assets/img/cnn.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Introduction to Convolutional Neural Networks </h3>
    <ul>
      <li> Computer Vision </li>
      <li> Image Classification </li>
    </ul>
    <p> This is an introductory blog post on how computers can learn to recognize and classify images. </p>
    <a class="project-link" href="https://drive.google.com/file/d/1AglzR-CJ0g8DXN4qqP3JwqAKIzMvnn4-/view?usp=sharing">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="loan img" src="{{ "/assets/img/words.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Introduction to Word Embeddings <img src="https://img.shields.io/badge/python-3.6-blue.svg"></h3>
    <ul>
      <li> Recurrent Neural Network Theory </li>
      <li> Natural Language Processing </li>
    </ul>
    <p> This blog post covers how word embeddings can vectorize human text. This is an important concept for natural language processing and reccurent neural networks. </p>
    <a class="project-link" href="https://drive.google.com/file/d/11ZLYFk8x2kVuUNnkz1Ws3M5JQ4FaxmMh/view?usp=sharing">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="loan img" src="{{ "/assets/img/net.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Introduction to the Nodes of a Neural Network </h3>
    <ul>
      <li> Simple Neural Network </li>
      <li> Neural Network Nodes </li>
    </ul>
    <p> This blog post covers how the nodes in a simple neural network operate. </p>
    <a class="project-link" href="https://drive.google.com/file/d/1-FehH-057VYgrcPz_QIHCXLBNrhW8f2g/view?usp=sharing">Check it out</a>
  </div>
</div>
