<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="interpreter img" src="{{ "/assets/img/interpreter.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ASL Translator <img src="https://img.shields.io/badge/python-3.6.3-blue.svg"></h3>
    <ul>
      <li> Convelutional Neural Network</li>
      <li> Confusion Matrix</li>
      <li> ROC Curve</li>
    </ul>
    <p> This is an image-based translator for American Sign Language. It reads images and can classify them based on the ASL alphebet. I am interested in pushing this project until it mirrors the ease of the Google Translate. <!--<a class="project-more" href="ASLT">Read more...</a>--></p>
    <a class="project-link" href="https://github.com/DietMocha/ASL_translator">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reward img" src="{{ "/assets/img/reward.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Scheduled Binger <img src="https://img.shields.io/badge/python-3.6.3-blue.svg"></h3>
    <ul>
      <li> Airbnb's Airflow</li>
      <li> NLP</li>
      <li> Web Scraping</li>
      <li> Selenium</li>
    </ul>
    <p>I am studying the automation of code  Airbnb's through Airflow. It will be a bot that bings the latest trending topics to send reward points to my microsoft account. Doing what I need by hand is very time consuming.</p>
    <a class="project-link" href="¯\_(ツ)_/¯">Not Ready</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="loan img" src="{{ "/assets/img/expensive.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Loan Prediction <img src="https://img.shields.io/badge/python-3.6.3-blue.svg"></h3>
    <ul>
      <li> Logistic Regression</li>
      <li> Random Forest Classificaiton</li>
      <li> Imputing Missing Values</li>
    </ul>
    <p>We worked in groups for our first <a href="https://datahack.analyticsvidhya.com/contest/practice-problem-loan-prediction-iii/">Hackathon</a> to predict whether or not a customer should be given a loan. The biggest part of this project was figuring out how to solve for messy data with missing values.</p>
    <a class="project-link" href="https://github.com/DietMocha/Loan_prediction">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="has img" src="{{ "/assets/img/hasbro.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hasbro Financial Analysis </h3>
    <ul>
      <li> Quarterly Earnings Reports</li>
      <li> Minitab 17 & Excel</li>
    </ul>
    <p>During my last year at NJIT I made a financial evaluation of Hasbro as a buy, sell, or hold for my capstone. Using Minitab 17 predictions, quarterly earnings reports, annual reports, rumors, and a recent acquisition\deal. I go into more detail on my resume.</p>
    <a class="project-link" href="https://docs.google.com/document/d/1tGvOxl9BEx3RzwxZ0nME9tNVKP1t87SXuClVM7ahqzQ/pub">Check it out</a>
  </div>
</div>
